@model IEnumerable<ShipShop.Web.Models.PostViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="container">

                @foreach (var item in Model)
                {
                 var href = "/bai-viet/" + item.Alias + ".html";
                    <div class="col-md-12 tin-tuc">
                        <div class="container">
                            <a href="@href">
                                <img src="@item.Image" />
                            </a>
                            <div class="mo-ta">
                                <a href="@href" class="ten">@item.Name</a>
                                <p class="chi-tiet-mo-ta">@item.Description</p>
                            </div>

                        </div>
                    </div>
                }
    </div>

</div>


<script>
    console.log(window.location.pathname);
    var path = window.location.pathname;
    $a = $('#bs-example-navbar-collapse-1 a[href="' + path + '"]');
    if ($a.length != 0) {
        $('#bs-example-navbar-collapse-1 li').each(function () {
            $(this).removeClass("active");
            $(this).find('a').addClass('link link--yaku active');
        });
        $('a[href="' + path + '"]').closest('li').addClass("active");
        $('a[href="' + path + '"]').removeClass('link link--yaku active');
    }
</script>

