<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta property="fb:admins" content="100006555347480" />*@
    <meta property="fb:app_id" content="1742828355969159" />
    <meta name="keywords" content="Ship 9k,Ship hàng chỉ với 9k, Shipper, ship" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Custom Theme files -->
    @*<link href="~/Assets/client/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Assets/client/css/style.css" rel="stylesheet" />
        <link href="~/Assets/client/libs/bootstrap-datepicker-1.6.1-dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="~/Assets/client/css/custom-style.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    @Styles.Render("~/Home/css")
    <script src="~/Assets/client/js/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="~/Assets/client/css/unslider.css" rel="stylesheet" />
    <link href="~/Assets/client/js/unslider-dots.css" rel="stylesheet" />
    <script src="~/Assets/client/js/utility.js"></script>
    <!-- //js -->
    <!-- start-smooth-scrolling-->
    <script src="~/Assets/client/js/move-top.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '100714157066129', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=100714157066129&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
</head>

<body>
    @{ Html.RenderAction("Header", "Home");}
    <div class="">
        @RenderBody()
    </div>
    @{ Html.RenderAction("Footer", "Home"); }
    <script type="text/javascript ">
        $(document).ready(function() {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });

    </script>
    <a href="# " id="toTop " style="display: block; "> <span id="toTopHover " style="opacity: 1; "> </span></a>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="~/Assets/client/js/bootstrap.js"></script>
        <script src="~/Assets/client/js/marquee.js"></script>
        <script src="~/Assets/client/js/bootbox.js"></script>
        <script src="~/Assets/client/libs/bootstrap-datepicker-1.6.1-dist/js/bootstrap-datepicker.js"></script>
        <script src="~/Assets/client/js/homePage.js"></script>*@
    @Scripts.Render("~/Home/js")
    <script src="~/Assets/client/js/unslider-min.js"></script>

    @RenderSection("Script", false)
</body>

</html>