@using ShipShop.Web.Models
@{
    var listMenuViewModel = (IEnumerable<MenuViewModel>)ViewBag.listMenuVM;
    var listNewsVM = (IEnumerable<NewsViewModel>)ViewBag.listNewsVM;
    var TinTuc = "";
    string html = "";
    var webInformation = (WebInformationViewModel)ViewBag.webInformationVM;
    foreach (var item in listNewsVM)
    {
        html = "<a style='padding-right:30px;' href='" + item.Url + "'>" + item.Name + "</a>";
        TinTuc += html;
    }
    string htmlTinTuc = "<marquee behavior=\"scroll\" onmouseover=\"this.stop();\" onmouseout=\"this.start();\" direction=\"left\">"+TinTuc+" </marquee>";
}
<div class="row" style="margin:0px;">
    <div class="col-md-12">
        <div class="container">
            @Html.Raw(htmlTinTuc)
        </div>
    </div>
</div>
<div class="header">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header navbar-left">
                <h1>
                    <a href="/"><img width="100" height="100" src="@webInformation.Logo" alt=""></a>
                </h1>
            </div>
            <!--navigation-->
            <div class="header-text navbar-left">
                <p>@webInformation.Slogan
                <p>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-right">
                <div class="top-nav-text">
                    <ul>
                        <li>Hot-line: <span>@webInformation.HotLine</span></li>
                        <li>
                            <ul class="social-icons">
                                <li>
                                    <a target="_blank" href="@webInformation.Facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="pin"></a>
                                </li>
                                <li>
                                    <a href="#" class="in"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        @foreach (var item in listMenuViewModel)
                        {
                            if (item.Name == "Trang chủ")
                            {
                                <li class="active"><a href="@item.URL" class=""><span>@item.Name</span></a></li>
                            }
                            else
                            {
                                <li class=""><a href="@item.URL" class="link link--yaku"><span>@item.Name</span></a></li>
                            }
                        }
                        @*<li class="active"><a href="@item.URL" class="link link--yaku"><span>@item.Name</span></a></li>*@

                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <!--//navigation-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </nav>
</div>
<!--//header-->
<!--banner-->
<link href="~/Assets/client/css/fluxslide.css" rel="stylesheet" />
<div class="banner">
    <div class="container">
        <div class="col-md-12 ">
            <div id="slider">
                <img src="~/Assets/client/images/banner.jpg" alt="" height="200px"/>
                <img src="~/Assets/client/images/banner.jpg" alt="" />
                <img src="~/Assets/client/images/banner.jpg" alt="" />
            </div>
        </div>
    </div>

    <script src="~/Assets/client/js/flux.js"></script>
    <script type="text/javascript" charset="utf-8">
			$(function(){
				if(!flux.browser.supportsTransitions)
					alert("Flux Slider requires a browser that supports CSS3 transitions");

				window.f = new flux.slider('#slider', {
					pagination: true
				});
			});
    </script>
</div>
