@using ShipShop.Web.Models
@{
    var listMenuViewModel = (IEnumerable<MenuViewModel>)ViewBag.listMenuVM;
    var listNewsVM = (IEnumerable<NewsViewModel>)ViewBag.listNewsVM;
    var listSlideVM = (IEnumerable<SlideViewModel>)ViewBag.listSlideVM;
    var TinTuc = "";
    string html = "";
    var webInformation = (WebInformationViewModel)ViewBag.webInformationVM;
    foreach (var item in listNewsVM)
    {
        html = "<a style='padding-right:30px;' href='" + item.Url + "'>" + item.Name + "</a>";
        TinTuc += html;
    }
    string htmlTinTuc = "<marquee class='marqueeTop' behavior=\"scroll\" onmouseover=\"this.stop();\" onmouseout=\"this.start();\" direction=\"left\">" + TinTuc + " </marquee>";
}
<div id='ads-left'>
        <div style='margin:0 0 5px 0; padding:0;width:100px;position:fixed; left:50px; top:150px;'>
            <a href='@System.Configuration.ConfigurationManager.AppSettings["LinkLeftAdv"]' target='_blank'><img border='0' height='500' src='@System.Configuration.ConfigurationManager.AppSettings["UrlImageLeftAdv"]' width='100' /></a>
        </div>
    </div>
    <div id='ads-right'>
        <div style='margin:0 0 5px 0; padding:0;width:100px;position:fixed; right:50px; top:150px;'>
            <a href='@System.Configuration.ConfigurationManager.AppSettings["LinkRightAdv"]' target='_blank'><img border='0' height='500' src='@System.Configuration.ConfigurationManager.AppSettings["UrlImageRightAdv"]' width='100' /></a>
        </div>
    </div>
<div class="row" style="margin:0px; height:10px;">

</div>
<div class="header">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header navbar-left">
                <h1>
                    <a href="/"><img width="150" height="100" src="@webInformation.Logo" alt=""></a>
                </h1>
            </div>
            <!--navigation-->
            <div class="header-text navbar-left">
                <p>@webInformation.Slogan
                <p>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-right">
                <div class="top-nav-text">
                    <ul>
                        <li class="hotline">Hot-line: <span>@webInformation.HotLine</span></li>
                        <li>
                            <ul class="social-icons">
                                @*<li>
                                    <a target="_blank" href="@webInformation.Facebook"></a>
                                </li>*@
                                <li>
                                    <a href="@webInformation.LinkAppIOS" target="_blank" class="pin">
                                        <img src="~/Assets/client/images/appstore_download.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="@webInformation.LinkAppAndroid" target="_blank"class="in">
                                        <img src="~/Assets/client/images/androidstore_download.png" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        @foreach (var item in listMenuViewModel)
                        {
                            if (item.Name == "Trang chủ")
                            {
                                <li class="active"><a href="@item.URL" class="" target="@item.Target"><span>@item.Name</span></a></li>
                            }
                            else
                            {
                                <li class=""><a href="@item.URL" class="link link--yaku" target="@item.Target"><span>@item.Name</span></a></li>
                            }
                        }
                        @*<li class="active"><a href="@item.URL" class="link link--yaku"><span>@item.Name</span></a></li>*@

                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <!--//navigation-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </nav>
</div>
<!--//header-->
<!--banner-->
<link href="~/Assets/client/css/camera.css" rel="stylesheet" />
<script src="~/Assets/client/js/jquery.mobile.customized.min.js"></script>
<script src="~/Assets/client/js/jquery.easing.1.3.js"></script>
<script src="~/Assets/client/js/camera.js"></script>
<div class="banner">
    <div class="container">
        <div class="col-md-12 ">
            <div class="fluid_container">
                <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                    @foreach (var item in listSlideVM)
                    {
                        <div data-src="@item.Image">
                            <div class="camera_caption fadeFromBottom">
                                <a href="@item.Url"> @item.Name</a>
                            </div>
                        </div>
                    }
                </div><!-- #camera_wrap_1 -->
            </div><!-- .fluid_container -->
        </div>
    </div>

    <script>
        jQuery(function () {
            jQuery('#camera_wrap_1').camera({
                //thumbnails: true,
                height: '200px',
            });
        });
    </script>
</div>
<div class="col-md-12">
    <div class="container">
        @Html.Raw(htmlTinTuc)
    </div>
</div>
