@using ShipShop.Web.Models
@using ShipShop.Web.Infrastructure.Core
@model PaginationSet<OrderViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 0;
}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Thông tin tài khoản </div>
            <div class="panel-body">
                <p><i>Xin chào! @User.Identity.Name</i><a href="#" data-toggle="modal" data-target="#ModalChangePass"> [Đổi mật khẩu]</a> <a id="btnLogout" href="#">[Thoát]</a></p>
                <p>Bạn là:@( (bool)ViewBag.Vendee ? "Người bán" : "Người mua") </p>
                <p>@((bool)ViewBag.Vendee ? "Website hoặc tên shop:" + ViewBag.WebsiteOrShop : "" )</p>
                <p>Địa chỉ: <input id="UserAddress" value="@ViewBag.Address" type="text" class="form-control"></p>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ModalChangePass" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thay đổi mật khẩu</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="frmChangePass">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mật khẩu cũ</label>
                            <div id="sandbox-container" class="col-md-8">
                                <input type="password" id="oldPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Mật khẩu mới</label>
                            <div id="sandbox-container" class="col-md-8">
                                <input type="password" id="newPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Nhập lại mật khẩu</label>
                            <div id="sandbox-container" class="col-md-8">
                                <input type="password" id="rePassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-offset-4" id="lblMsg"></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="changePass();" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="">
                <div class="col-md-5">
                    <div class="form-group">
                        @*<select class="form-control" id="typeOfOrder" name="typeOfOrder">
                                <option value="1">Đơn hàng tạo</option>
                                <option value="2">Đơn hàng đồng bộ</option>
                            </select>*@
                        <a href="?typeOfOrder=1" class="btn btn-default">Đơn hàng tự tạo</a>
                        <a href="?typeOfOrder=2" class="btn btn-default">Đơn hàng đồng bộ(@ViewBag.NewOrder)</a>
                        @*<div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Loại đơn hàng
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="?typeOfOrder=1">Đơn hàng tạo</a></li>
                                    <li><a href="?typeOfOrder=2">Đơn hàng đồng bộ</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span>Danh sách đơn hàng</span> <span style="float:right;"><a href="/">Tạo đơn</a></span></div>
                        <div class="panel-body">
                            <div class="">
                                <div class="form-group">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Từ ngày</label>
                                            <div id="sandbox-container" class="col-md-8">
                                                <div class="input-group date" style="margin-bottom:0px;">
                                                    <input type="text" value="@ViewBag.dtTuNgay" class="form-control" name="dtTuNgay" id="dtTuNgay"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Đến ngày</label>
                                            <div id="sandbox-container" class="col-md-8">
                                                <div class="input-group date" style="margin-bottom:0px;">
                                                    <input type="text" class="form-control" id="dtDenNgay" name="dtDenNgay" value="@ViewBag.dtDenNgay"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Vùng</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownList("drdRegion", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-3">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input class="form-control" id="txtSoDienThoai" name="txtSoDienThoai" placeholder="Số điện thoại" />
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding-left:30px;">
                                            <div class="form-group" style="text-align:center;">
                                                <button type="submit" class="btn btn-default" id="btnFilter">Lọc</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Thời gian</th>
                                                @if ((bool)ViewBag.Vendee && (int)ViewBag.TypeOfOrder == 1)
                                                {
                                                    <th>SĐT người nhận</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Vùng</th>
                                                }
                                                else
                                                {
                                                    <th>SĐT người gửi</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Vùng</th>
                                                }

                                                <th style="width:100px;">COD(VNĐ)</th>
                                                <th style="width:75px;">Chi tiết</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Items )
                                            {
                                                stt++;
                                                <tr>
                                                    <td>
                                                        @stt
                                                    </td>
                                                    <td>
                                                        @item.CreatedDate.GetValueOrDefault(DateTime.Now).ToString("HH:mm dd/MM/yyyy")
                                                    </td>
                                                    @if ((bool)ViewBag.Vendee && (int)ViewBag.TypeOfOrder == 1)
                                                    {
                                                        <td>
                                                            @item.ReceiverMobile
                                                        </td>
                                                        <td>
                                                            @item.ReceiverAddress
                                                        </td>
                                                        <td>
                                                            @item.ReceiverRegion.Name
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @item.SenderMobile
                                                        </td>
                                                        <td>
                                                            @item.SenderAddress
                                                        </td>
                                                        <td>
                                                            @item.SenderRegion.Name
                                                        </td>
                                                    }

                                                    <td style="text-align:right;">
                                                        @item.PayCOD.ToString("N0")
                                                    </td>
                                                    @*<td>
                                                            @item.Note
                                                        </td>*@
                                                    <td style="text-align:center;">
                                                        <a href="/chi-tiet-don-hang-@item.ID-o.html">Xem</a>
                                                    </td>
                                                    <td id="StatusOrder-@item.ID">@(item.Status ? Html.Raw("<a href=\"javascript: \" onclick=\"CancelOrder(" + item.ID + "); \">Hủy</a>") : Html.Raw("<a href=\"javascript: \" onclick=\"ReCancelOrder(" + item.ID + "); \">Hoàn tác</a>"))</td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td style="border-color:#fff"></td>
                                                <td colspan="4" style="border-color:#fff;text-align:right;">
                                                    Tổng giá trị COD
                                                </td>
                                                <td style="border-color:#fff; text-align:right;" id="TotalCOD">@ViewBag.TotalCOD.ToString("N0")</td>

                                                <td style="border-color:#fff" colspan="3"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                @if (Model.TotalPages > 1)
                                {
                                    // Create numeric links
                                    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                                    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
                                    <div class="col-md-8">
                                        <nav>
                                            <ul class="pagination" style="margin:0px;">
                                                @if (Model.Page > 1)
                                                {
                                                    <li>
                                                        <a href="javascript:changePage(1)" aria-label="First">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:changePage(@(Model.Page-1))" aria-label="Previous">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                }
                                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                                {
                                                    if (Model.Page == i)
                                                    {
                                                        <li class="active">
                                                            <a href="javascript:" title="Trang @i">
                                                                @i
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="javascript:changePage(@i)" title="Trang @i">
                                                                @i
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                @if (Model.Page < Model.TotalPages)
                                                {
                                                    <li>
                                                        <a href="javascript:changePage(@(Model.Page+1))" aria-label="Next">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:changePage(@(Model.TotalPages))" aria-label="Last">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </nav>
                                    </div>
                                }
                                <div class="col-md-4">
                                    <a class="btn btn-default" href="/Order/ExportExel?typeOfOrder=@ViewBag.TypeOfOrder">Export Exel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "frmLogout" }))
    {

        @Html.AntiForgeryToken();

    }
</div>
@section Script
{
    <script>
        $('#btnLogout').off("click").on("click", function (e) {
            e.preventDefault();
            $('#frmLogout').submit();
        });

    </script>
    <script src="~/Assets/client/js/order.js"></script>
}

